p {
    text-align: justify;
}

a.reference strong {
    font-weight: bold;
    font-size: 90%;
    color: #c7254e;
    box-sizing: border-box;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

a.reference em {
    font-weight: bold;
    font-size: 90%;
    color: #c7254e;
    box-sizing: border-box;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
