semantic_version ~=2.8
sphinx ~=3.0
# sphinx-bootstrap-theme ~=0.7
https://github.com/althonos/sphinx-bootstrap-theme/archive/master.zip
recommonmark ~=0.6
nbsphinx ~=0.5
pygments-style-monokailight ~=0.4
ipython ~=7.11
